<div ng-controller="homeCtrl">
	<div ng-controller="paginatorCtrl">
		<%= render "layouts/navbar" %>
		<div id="wrapper">
			<%= render "layouts/sidebar_recent" %>
			<!-- Page Content -->
			<div id="page-content-wrapper" style="padding-left: 8%; overflow-x: hidden">
				<div class="container-fluid">
					<div class="main_panel panel-corners glass" >
						<div id="my-posts" class="hidden" reveal>
							<%= render "layouts/post" %>
						</div>
					</div>
				</div>
			</div>
			<!-- /#page-content-wrapper -->
			<%= render "layouts/modal_post" %>
			<% if @go %>
				<link-handler go-to=<%= @go %>></link-handler>
			<% end %>
		</div>
		<!-- /#wrapper -->
	</div>
</div>
