<div class="panel panel-info panel-inner" id=<%= 'p-' + post.id.to_s %>>
	<div class="panel-heading">
		<h3 class="panel-title"><%= link_to post.title, post_path(post) %></h3>
	</div>
	<div class="panel-body">
		<h4 align="right"><small ><em><%= post.updated_at %></em></small></h4>
		<p><%= truncate(strip_tags(post.text), length: 500) %></p>
		<% if post.photos.any? %>
			<div id="links">
				<% Cloudinary::Api.resources_by_ids(post.photos)['resources'].each do |r| %>
		  			<a href=<%= r['url'] %> data-gallery=<%= '#' + post.id.to_s %>>
						<%= cl_image_tag(r['public_id'], :width => 90, :height => 90, :crop => :fill) %>
					</a>
				<% end %>
			</div>
			<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
			<div id=<%= post.id.to_s %> class="blueimp-gallery">
				<!-- The container for the modal slides -->
				<div class="slides"></div>
				<!-- Controls for the borderless lightbox -->
				<h3 class="title"></h3>
				<a class="prev">‹</a>
				<a class="next">›</a>
				<a class="close">×</a>
				<a class="play-pause"></a>
				<ol class="indicator"></ol>
				<!-- The modal dialog, which will be used to wrap the lightbox content -->
				<div class="modal fade">
					<div class="modal-dialog" style="width: 70%">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" aria-hidden="true">&times;</button>
								<h4 class="modal-title"></h4>
							</div>
							<div class="modal-body next"></div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default pull-left prev">
									<i class="glyphicon glyphicon-chevron-left"></i>
									Previous
								</button>
								<button type="button" class="btn btn-primary next">
									Next
									<i class="glyphicon glyphicon-chevron-right"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>
