<!-- Sidebar -->
<div id="sidebar-wrapper" style="overflow-x: hidden; bottom: 0">
    <ul class="sidebar-nav" style="padding-top:60px; height: 100%;">
        <li class="sidebar-brand"><h3 style="color: #9d9d9d">Recent:</h3></li>
        <% (1..6).reverse_each do |i| %>
        	<% @list = @postList.where('extract(month from created_at) = ?', i) %>
        	<% if @list.any? %>
        		<li><a class="bar-header" aria-expanded="true" data-toggle="collapse" data-target=<%= '#m-' + i.to_s %>><%= @monthsLabels[i - 1] %></a></li>
        		<li><ul id=<%= 'm-' + i.to_s %> class="collapse" aria-expanded="true">
    			<% @list.each do |post| %>
    				<li><a href="#" targetPost=<%= post.id %>><%= post.title %></a></li>
    			<% end %>
	    		</ul></li>
        	<% end %>
		<% end %>
		<li><span>&nbsp</span></li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->
